.home-container{
    border: 1px solid blue;
    /* width: 98%; */
    /* height: fit-content; */
    margin: 1em auto;
    padding: 1em;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

#sort-btn{
    float: right;
}

.products-container{
    border: 1px solid black;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0;
}