nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 3.5em;
  margin-bottom: 1em;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 1em;
  font-size: 1.1rem;
}
.nav-link:hover {
  color: rgb(3, 97, 199);
}

.nav-brand {
  text-decoration: none;
  color: rgb(3, 97, 199);
  letter-spacing: 1px;
  font-size: 1.2em;
}
