nav{
    border: 1px solid red;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 1em;
}

#nav-elements span{
    border: 1px solid green;
    margin: 1em;
    /* padding: 1em; */
    /* width: 100px; */
}