.details-container {
  width: 100%;
  min-width: 400px;
  height: fit-content;
  margin: 3em auto 0;
  padding: 1em;
}

.details {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.prdt-det > img {
  border-radius: 10px;
  margin: 0 2em 0;
  width: 300px;
  height: 400px;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.desc > p {
  margin: 50px 0;
  font-size: 1.1em;
}
